@model CreateFeatureDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Feature Process</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-sub">
                            <div class="card-title">Add New Feature</div>
                        </div>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Page 1 Title</label>
                                <input type="text" class="form-control" asp-for="@Model.FeatureTitle1">
                            </div>
                            <div class="form-group">
                                <label for="categoryname">Page 1 Description</label>
                                <textarea class="form-control" asp-for="@Model.FeatureDescription1"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Page 2 Title</label>
                                <input type="text" class="form-control" asp-for="@Model.FeatureTitle2">
                            </div>
                            <div class="form-group">
                                <label for="categoryname">Page 2 Description</label>
                                <textarea class="form-control" asp-for="@Model.FeatureDescription2"></textarea>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="categoryname">Page 3 Title</label>
                                <input type="text" class="form-control" asp-for="@Model.FeatureTitle3">
                            </div>
                            <div class="form-group">
                                <label for="categoryname">Page 3 Description</label>
                                <textarea class="form-control" asp-for="@Model.FeatureDescription3"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Add Feature</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





